*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
@media screen and (min-width: 768px){

body{
	background-color: hsl(0, 0%, 95%);
}

main{
	min-width:100vw;
	display:flex;
	place-items:center;
	justify-content:center;
}
h1{
	
	font-weight:700;
	font-family: 'Big Shoulders Display', cursive;
	font-size:30px;
	color:hsl(0, 0%, 95%);
	margin-top:20px;
	margin-bottom:20px;
	text-transform:uppercase;	
}
p{
	color:hsla(0, 0%, 100%, 0.60);
	font-size:16px;
	font-weight:400;
	font-family: 'Fraunces', serif;
	font-family: 'Lexend Deca', sans-serif;
	margin-bottom:80px;
	line-height:1.5rem;
	
}
.sed{
	background-color:hsl(31, 77%, 52%);
	width:20%;
	padding:30px;
	border-top-left-radius:1rem;
	border-bottom-left-radius:1rem;
}
.suv{
	background-color:hsl(184, 100%, 22%);
	width:20%;
	padding:30px;
}
.lux{
	background-color:hsl(179, 100%, 13%);
	width:20%;
	padding:30px;
	border-top-right-radius:1rem;
	border-bottom-right-radius:1rem;
}
button{
	width:60%;
	cursor:pointer;
	border:white solid 1px;
	border-radius:25px;
	padding:10px;
	margin-left:15px;
}
.sedbutton{
		color:hsl(31, 77%, 52%);
}
.luxbutton{
		color:hsl(179, 100%, 13%);
}
.suvbutton{
		color:hsl(184, 100%, 22%);
}

button:hover{
	background-color: rgba(255, 255, 255, 0);
	color:white;
}
 footer {
		font-size: 11px; text-align: center; 
		}
    footer a {
		color: hsl(228, 45%, 44%); 
		}
}

@media screen and (max-width: 767px){
	body{
	background-color: hsl(0, 0%, 95%);
	}
	
main{
	max-width: 767px;
	min-height:50vh;
	display:flex;
	flex-direction:column;
	place-items:center;
	justify-content:center;
	margin-top:10px;
	
}
h1{
	color:hsl(0, 0%, 95%);
	font-weight:700;
	font-family: 'Big Shoulders Display', cursive;
	font-size:30px;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:20px;
}
.sed{
	background-color:hsl(31, 77%, 52%);
	width:70%;
	padding:30px;
	height:30%;
	border-top-left-radius:0.5rem;
	border-top-right-radius:0.5rem;
}
.suv{
	background-color:hsl(184, 100%, 22%);
	width:70%;
	height:40%;
	padding:30px;
	
}
.lux{
	background-color:hsl(179, 100%, 13%);
	width:70%;
	height:40%;
	padding:30px;
	border-bottom-left-radius:0.5rem;
	border-bottom-right-radius:0.5rem;
	
}
p{
	color:hsla(0, 0%, 100%, 0.60);
	font-size:16px;
	font-weight:400;
	font-family: 'Fraunces', serif;
	font-family: 'Lexend Deca', sans-serif;
	margin-bottom:50px;
	
}
button{
	width:60%;
	 cursor:pointer;
		border:white solid 1px;
		border-radius:25px;
		padding:10px;
		margin-left:15px;
}	
.sedbutton{
		color:hsl(31, 77%, 52%);
}
.luxbutton{
		color:hsl(179, 100%, 13%);
}
.suvbutton{
		color:hsl(184, 100%, 22%);
}	
button:hover{
	background-color: rgba(255, 255, 255, 0);
	color:white;
}
footer {
		font-size: 11px; text-align: center; 
		}
    footer a {
		color: hsl(228, 45%, 44%); 
		}
}
